@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/proxima-nova-light.otf") format("opentype");
}

:root {
  --font-family-sans-serif:
    "Proxima Nova",
    system-ui,
    -apple-system,
    "Segoe UI",
    roboto,
    "Helvetica Neue",
    arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  --primary-color: #1c78c0;
  --secondary-color: #8ed6fb;
  --background-color: #d5ebf6;
  --tenne-tawny: #d65108;
  --tenne-tawny-light: #ff7d38;
  --tenne-tawny-dark: #b54507;
}

body {
  background-color: var(--tenne-tawny-light);
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: var(--tenne-tawny-light);
}

.logo {
  font-family: 'Parisienne', cursive;
  color: var(--tenne-tawny-dark);
  min-width: 350px;
}

a.logo:hover {
  color: var(--tenne-tawny-dark);
}

#app-logo,
#app-logo-footer,
.bold {
  font-weight: bold;
}

.navbar-nav {
  font-size: 1.25rem;
}

#nav a {
  color: var(--tenne-tawny-dark);
}

#nav a:hover {
  color: var(--tenne-tawny-dark);
  font-weight: bold;
}

.nav-item {
  text-align: center;
}

#suggestion-du-chef {
  font-family: 'Parisienne', cursive;
  font-size: 1.5rem;
}

.scroll {
  height: 25vh;
  overflow-y: scroll;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  font-size: 1.05rem;
}

.text {
  opacity: 0.8;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.container {
  min-height: 80vh;
}

.meal-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  text-align: center;
}

.meal-search {
  margin: 2rem 0;
}

.meal-search cite {
  font-size: 1rem;
}

.meal-search-box {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}

.search-control,
.search-btn {
  width: 100%;
}

.search-control {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid var(--tenne-tawny);
  color: var(--tenne-tawny);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
  color: var(--tenne-tawny);
}

.dropdown-toggle::after {
  margin: 0;
}

.search-btn {
  width: 55px;
  height: 55px;
  font-size: 1.8rem;
  background: var(--tenne-tawny);
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.search-btn:hover {
  background: var(--tenne-tawny-dark);
}

.meal-result {
  margin-top: 4rem;
}

#meal {
  margin: 2.4rem 0;
}

.meal-item {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 0;
}

.meal-img img {
  width: 100%;
  display: block;
}

.meal-name {
  padding: 1.5rem 0.5rem;
}

.meal-name h3 {
  font-size: 1.4rem;
}

.recipe-btn {
  text-decoration: none;
  color: #fff;
  background: var(--tenne-tawny);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.75rem 1.25rem;
  width: 175px;
  margin: 1rem auto;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.recipe-btn:hover {
  background: var(--tenne-tawny-dark);
  color: #fff;
}

/* meal details */
.meal-details {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  background: var(--tenne-tawny);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  display: none;
  padding: 2rem 0;
}

.meal-details::-webkit-scrollbar {
  width: 10px;
}

.meal-details::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.showRecipe {
  display: block;
}

.fill-empty {
  font-size: 1.25rem;
  color: rgb(192, 192, 192);
}

.fill-empty:hover {
  color: rgb(163, 163, 163);
  cursor: pointer;
}

.fill-tenne-tawny {
  font-size: 1.25rem;
  color: var(--tenne-tawny);
}

.meal-details-content {
  margin: 2rem;
}

.recipe {
  text-align: left;
}

.meal-details-content p:not(.recipe-category) {
  padding: 0;
}

a.detail-source {
  color: var(--tenne-tawny);
}

a.detail-source:hover {
  color: var(--tenne-tawny-dark);
}

.recipe-close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.recipe-title {
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.recipe-category {
  background: #fff;
  font-weight: 600;
  color: var(--tenne-tawny);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.recipe-instruct {
  padding: 1rem 0;
}

.recipe-meal-img img {
  width: 250px;
  height: 250px;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  margin: 0 auto;
  display: block;
}

.recipe-link {
  margin: 1.4rem 0;
}

.recipe-link a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.recipe-link a:hover {
  opacity: 0.8;
}

.ingredients-list {
  list-style: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  max-width: 758px;
  margin: auto;
  border: 10px solid var(--tenne-tawny-light);
  padding: 77px 99px 87px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

form {
  display: block;
  margin-top: 0;
}

.form-group {
  position: relative;
  display: block;
  margin-bottom: 22px;
}

.form-control-details {
  border: none;
  border-bottom: 2px solid var(--tenne-tawny-dark);
  display: block;
  width: 100%;
  font-size: 15px;
}

.form-group span {
  font-size: 15px;
  color: var(--tenne-tawny-dark);
  position: absolute;
  top: 11px;
  transition: all 0.2s ease;
  transform-origin: 0 0;
  cursor: text;
}

.form-group span.border {
  height: 2px;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 41px;
  transform: scaleX(0);
  transition: all 0.15s ease;
  background: #fff;
}

.notFound {
  grid-template-columns: 1fr !important;
  color: var(--tenne-tawny);
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

.author a {
  text-decoration: none;
  color: var(--tenne-tawny-dark);
  font-weight: bold;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  .meal-search-box {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  #meal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .meal-item {
    margin: 0;
  }

  .meal-details {
    width: 700px;
  }

  .footer-bottom {
    justify-content: space-around;
    width: 100%;
  }

  .footer-bottom p {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  #meal {
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: repeat(3, 1fr);
  }
}
